

/* ----------------------- cartes d'animaux ----------------------- */
#animals-container, #featured-container {
    padding: 2em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 2rem;
    justify-content: center;
}

.featured-card h2 {
    text-align: center;
    padding: 1em 0;
}

.animal-card {
    height: 400px;
    width: 400px;
    background:  var(--darker-gray);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.animal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-top: 4px solid var(--accent-orange);
}

.animal-card img {
    padding: 15px 20px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.animal-card h3 {
    padding-left: 40px;
    padding-bottom: 5px;
    color: var(--golden);
    font-size: 1.3rem;
}

.animal-card p {
    padding: 3px 15px;
    font-size: 0.8rem;
    color: var(--bright-yellow);
}

.animal-card a {
    text-decoration: none;
}

.animal-card strong {
    text-decoration: underline;
 }



/* ----------------------- progress bar ----------------------- */
.badge-progress-card {
    background: linear-gradient(135deg, var(--petrol_blue), var(--dark-gray));
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 12px;
}

.badge-progress-card h2 {
    color: white;
}

.badge-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.badgelist {
    display: flex;
    justify-content: space-between;
    background: #1f232b;
    border-radius: 10px;
    gap: 1rem;
    margin-bottom: 1rem;
}

.badgelist-item {
    display: grid;
    align-items: center;
}

.acquired-badge, .next-badge {
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.current-badge {
    flex: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.acquired-badge strong, .next-badge strong {
    padding-top: 10px;
    color: var(--bright-yellow);
    font-size: 1rem;
    text-align: center;
}

.acquired-badge img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    margin-top : auto;
}

.next-badge img {
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
    margin-top : auto;
}

.current-badge strong {
    padding-top: 5px;
    color: var(--golden);
    font-size: 1.2rem;
    text-align: center;
}

.current-badge img {
    height: 140px;
    width: 140px;
    margin-bottom: 0;
    margin-top : auto;
}

.current-badge small {
    color: var(--primary-green);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.objective strong, .objective img, .objective small,
.next-badge strong, .next-badge img, .next-badge small {
    filter: grayscale(80%);
    opacity: 0.3;
}

.progress-bar {
    height: 18px;
    background: #111;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: var(--primary-green);
    text-align: center;
}

/* ----------------------- filtres ----------------------- */
#filters {
    padding: 2em 3em;
    display: block flex;
    gap: 1rem;
}

.filter {
    display: grid;
}

#search-input {
    width: 100%;
}


.range-wrapper {
    position: relative;
    width: 300px;
    height: 30px;
}

.range-wrapper input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.range-wrapper input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
}


/* Responsive */
@media (max-width: 768px) {
    .animals-grid {
        grid-template-columns: 1fr;
    }

    .badge-row .current img {
        height: 50px;
        width: 50px;
        position: static;
    }

    .badge-row .current small {
        display: none;
    }
    
    .badge-row .objective img {
        display: none;
    }
}
