
.filter {
    padding: 2em 5em;
}


.animals-container {
    padding: 2em 3em;
}

.animals-grid {
    margin: 3em 5em;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.animal-card {
    height: 380px;
    width: 400px;
    background:  var(--darker-gray);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.animal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-top: 4px solid var(--accent-orange);
}

.animal-card img {
    padding: 15px 20px;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.animal-card h3 {
    padding: 1rem 1.5rem 0;
    color: var(--golden);
    font-size: 1.3rem;
}

.animal-card p {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    color: var(--bright-yellow);
}




/* Responsive */
@media (max-width: 768px) {
    .animals-grid {
        grid-template-columns: 1fr;
    }
}
